<div class="todo">

  <mat-list>
    <mat-list-item>
      <span matListItemTitle>{{todo.title}}</span>
      <span class="item-subline" matListItemLine>Name</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>{{todo.id}}</span>
      <span class="item-subline" matListItemLine>ID</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>{{ todo.status ? 'Erledigt' : 'Offen' }}</span>
      <span class="item-subline" matListItemLine>Status</span>
    </mat-list-item>
  </mat-list>

  <button mat-raised-button class="todo-button" type="button" (click)="delete(todo.id)">Delete</button>
  <button mat-raised-button class="todo-button" type="button" routerLink="/todo/{{todo.id}}/edit">Editieren</button>
  <button mat-raised-button class="todo-button" type="button" (click)="goBack()">Back</button>
</div>
