.todo {
  margin-bottom: 10px;
}

.todo div {
  margin-bottom: 5px;
  height: 30px;
}

.todo .todo-id {
  font-weight: bold;
}

.todo button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.todo button:hover {
  background-color: #0056b3;
}
