.todo {
  margin-bottom: 10px;
  margin-top: 10px;
}

.todo-button {
  margin-right: 10px;
}

.todo div {
  margin-bottom: 5px;
  height: 30px;
}

.todo .todo-id {

}

.todo button {

  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;

}

.todo button:hover {
  background-color: #0056b3;
}

.item-subline {
  font-size: smaller;
  color: lightgray;
}
