h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.link {
  color: black;
  margin: 0 10px 50px 0;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

