.todo-form {
  margin-bottom: 10px;
  margin-top: 10px;
}

.todo-form div{
  margin-bottom: 5px;
  height: 30px;
}

.todotodo input {
  margin-bottom: 5px;
  height: 25px;
}

.todo-form .todo-id {
  font-weight: bold;
}
